body {
  margin: 25px;
}

.container {
  padding: 10px;
}

hr {
  padding-bottom: 5px;
}

img#top-photo {
  width: 150px;
  height: auto;
}
#result {
  display: none;
  text-align: center;
  color: blue;
}

img {
  width: 500px;
  height: auto;
  border-radius: 7px;
}

h4 {
  padding-top: 10px;
}
