form {
  padding-bottom: 10px;
}

hr {
  padding-bottom: 10px;
}

#result {
  display: none;
  text-align: center;
  color: blue;
}

img {
  width: 640px;
  height: auto;
  border-radius: 7px;
}

h1 {
  text-align: center;
}

h4 {
  padding-top: 10px;
}
